.content.confirmation {
	padding-top: 70px;
	text-align: center;
	// This is to ensure a sticky footer: if page is smaller than viewport,
	// force it to be exact height necessary to fill viewport
	min-height: calc(100vh - 80px);

	p {
		color: $pp-blue;
		font-size: 18px;
	}

	svg {
		margin: 20px 0 60px 0;
		width: 50px;
		fill: #3C8843;
	}

	button {
		margin-bottom: 20px;
	}
}
