@font-face {
	font-family: 'pp-reg';
	src: url('fonts/PayPalSansBig-Regular.eot');
	src: url('fonts/PayPalSansBig-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'pp-med';
	src: url('fonts/PayPalSansBig-Medium.woff2') format('woff2'),
	     url('fonts/PayPalSansBig-Medium.woff') format('woff');
}
