header {
	background: url('images/header-image.png');
	background-size: cover;
	position: relative;
	overflow: auto;
	z-index: -2;

	&:before {
		content: '';
		position: absolute;
		overflow: auto;
		top: 0; right: 0; bottom: 0; left: 0;
		background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));
		z-index: -1;
	}
}

header.main {
	height: 200px;
	display: block;

	img {
		display: block;
		width: 240px;
		margin: 70px auto 0 auto;
	}
}

header.sub {
	height: 90px;
	padding: 35px 25px 25px 25px;

	img {
		width: 80px;
		margin: 0 auto 0 auto;
		float: left;
	}

	h1 {
		float: right;
		font-family: pp-med, sans-serif;
		color: white;
		font-size: 20px;
	}
}
