<div class="content send-money">
  <form name="sendCtrl.sendMoneyForm" novalidate>
    <p ng-show="sendCtrl.fixInputs" class="fixInputs">Please complete all required fields.</p>
    <div class="inputWrapper">
      <label for="email">To:</label>
      <input
        ng-model="sendCtrl.email"
        ng-focus="sendCtrl.validation.clearState('email')"
        ng-blur="sendCtrl.validation.setState('email')"
        pp-input-validation="email"
        placeholder="example@email.com"
        id="email"
        name="email"
        title="email"
        type="email"
        required>
      <svg class="checkmark" style="display: none" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3387 807 24 24" style="enable-background:new -3387 807 24 24;" xml:space="preserve">
        <path d="M-3375,807c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S-3368.4,807-3375,807z M-3376.2,823.5l-4.5-4.3l1.4-1.4l3.1,2.9l6.1-6.2l1.4,1.4L-3376.2,823.5z"></path>
      </svg>
      <svg class="x" style="display: none" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3387 807 24 24" style="enable-background:new -3387 807 24 24;" xml:space="preserve">
	      <path d="M-3375,807c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S-3368.4,807-3375,807z M-3370.4,825l-4.6-4.5l-4.6,4.6l-1.4-1.4l4.5-4.6l-4.6-4.6l1.4-1.4l4.6,4.5l4.5-4.6l1.4,1.4l-4.5,4.6l4.6,4.5L-3370.4,825z"></path>
      </svg>
    </div>
    <div class="inputWrapper">
      <label for="amount">Amount:</label>
      <input
        id="amount"
        name="amount"
        title="amount"
        type="text"
        placeholder="{{ sendCtrl.currentCurrencyInfo.example }}"

        ng-model="sendCtrl.amount"

        pp-input-validation="amount"
        ng-focus="sendCtrl.validation.clearState('amount')"
        ng-blur="sendCtrl.validation.setState('amount')"

        ng-currency
        currency-symbol="{{ sendCtrl.currentCurrencyInfo.symbol }}"
        min="0.01"
        required>
      <svg class="checkmark" style="display: none" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3387 807 24 24" style="enable-background:new -3387 807 24 24;" xml:space="preserve">
        <path d="M-3375,807c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S-3368.4,807-3375,807z M-3376.2,823.5l-4.5-4.3l1.4-1.4l3.1,2.9l6.1-6.2l1.4,1.4L-3376.2,823.5z"></path>
      </svg>
      <svg class="x" style="display: none" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3387 807 24 24" style="enable-background:new -3387 807 24 24;" xml:space="preserve">
	      <path d="M-3375,807c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S-3368.4,807-3375,807z M-3370.4,825l-4.6-4.5l-4.6,4.6l-1.4-1.4l4.5-4.6l-4.6-4.6l1.4-1.4l4.6,4.5l4.5-4.6l1.4,1.4l-4.5,4.6l4.6,4.5L-3370.4,825z"></path>
      </svg>
      <select ng-model="sendCtrl.selectedCurrency" ng-change="sendCtrl.updateCurrencyInfo()" name="currency" title="currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="JPY">JPY</option>
      </select>
    </div>
    <div class="inputWrapper">
      <label for="message">Message (optional):</label>
      <textarea placeholder="Thanks for the Star Wars tickets..." name="message" id="message" cols="30" rows="3"></textarea>
    </div>
    <section id="paymentPurpose">
      <p> What's this payment for?</p>
      <button radio-buttons>
        I'm sending money to family or friends
        <svg class="checkmark" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3387 807 24 24" style="enable-background:new -3387 807 24 24;" xml:space="preserve">
          <path d="M-3375,807c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S-3368.4,807-3375,807z M-3376.2,823.5l-4.5-4.3l1.4-1.4l3.1,2.9l6.1-6.2l1.4,1.4L-3376.2,823.5z"></path>
        </svg>
      </button>
      <button radio-buttons>
        I'm paying for goods and services
        <svg class="checkmark" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-3387 807 24 24" style="enable-background:new -3387 807 24 24;" xml:space="preserve">
          <path d="M-3375,807c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S-3368.4,807-3375,807z M-3376.2,823.5l-4.5-4.3l1.4-1.4l3.1,2.9l6.1-6.2l1.4,1.4L-3376.2,823.5z"></path>
        </svg>
      </button>
    </section>
    <div class="horizontal-buttons">
      <button ng-click="sendCtrl.clearForms()">Clear</button>
      <button ng-click="sendCtrl.handleSubmit()">Send</button>
    </div>
  </form>
</div>
<div class="loadingOverlay" style="display: none;">
  <img src="styles/images/pp-spinner.gif" alt="Loading Icon" width="50px">
</div>
